/* * {
    border: 1px solid red;

} */

body {
    background-color:aliceblue;
    font-size: 20px;
}

h1 {
    text-align:center;
}

.main {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.subtext {
    text-align: center;
    font-size: 25px;
    margin-top: -15px;
}

.img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 500px;
    width: 100%;

}

.anchor {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.back {
    text-align: center;
    font-size: 30px;
}

a {
    min-width: 100px;
    margin: auto;
    margin-top: 20px;
}

a:hover {
    background-color: darkgray;
    width: 50px;
    border-radius: 20%;
    border: solid;
    color: white;
}